@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet */
.leaflet-container {
  height: 100%;
  width: 100%;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', 'Inter', system-ui, sans-serif; }
}
